# Source files
cli/src/
tsconfig.json

# Development files
.git/
.github/
.vscode/
node_modules/
.gitignore

# Data files
data/*
!data/receivers-template.csv

# Log files
logs/
out/

# Environment files
.env
.env.*

/task*
/test*
